<nb-layout>
  
    <nb-layout-column>
      
      <div class="title">
        Poker Game
      </div>

    <div class="container">

      <button (click)="createGame()" id = "startBtn" class="center" nbButton size = "giant" hero status = "info">Start</button>

    </div>


    </nb-layout-column>
      
  
    <nb-layout-footer fixed>
    <a href="https://github.com/Pyrunix" target="_blank">Darren Trieu</a> | <a >Jacob Huang</a> | <a href="https://github.com/justin-chhay" target="_blank">Justin Chhay</a> | <a href="https://github.com/rambolps" target="_blank">Ryan Rambali</a> 
    </nb-layout-footer>
  
  </nb-layout>
  