.title{
    text-align: center;
    font-size: 5em;
    margin-top: 15%;
}

.container{
    position: relative;
}

.center{
    margin-top: 13%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(2,2);
    transition: all 1s ease-in-out; 
    
    
}

.center:hover{
     transform: translate(-50%, -50%) scale(2.5, 2.5); 
     transition-delay: 250ms;
     transition: all 1s ease-in-out;
}

.keepW{
    color: rgb(255, 255, 255);
}