<nb-layout>
    <nb-layout-header fixed>
    Waiting For Players...
    </nb-layout-header>
  
    <nb-layout-column>
      <a routerLink="">Back</a>
      
    </nb-layout-column>
  
    <nb-layout-footer fixed>
      <a href="https://github.com/Pyrunix" target="_blank">Darren Trieu</a> | <a >Jacob Huang</a> | <a href="https://github.com/justin-chhay" target="_blank">Justin Chhay</a> | <a href="https://github.com/rambolps" target="_blank">Ryan Rambali</a> 
      </nb-layout-footer>
  
  </nb-layout>
  